*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efe4cf;
    border-bottom: 3px solid #000000;
}
.header .icon{
    margin-left: 10px;
    margin-bottom: 30px;
}
.header nav{
    margin: 0 auto;
}
.header nav ul{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.btns{
    height: 50px;
    width: 225px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns button{
    height: 40px;
    width: 105px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btns .sign-in{
    background-color: #deeefc;
}
.btns .log-in{
    background-color: #f57373;
}
.btns button:hover{
    cursor: pointer;
    height: 45px;
    width: 110px;
}
.App {
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  h2 {
    color: #ff6347;
  }
  
  h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  